.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card {
  width: calc(100% - 30px);
  max-width: 830px;
  margin: 20px auto;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  padding: 10px;
  box-sizing: border-box;
}

.message *:first-child {
  margin-top: 0;
}

.author {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
}

.messageForm label {
  display: block;
  margin-bottom: 5px;
}

.messageForm input, .messageForm textarea, .messageForm button {
  width: 100%;
  max-width: 400px;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.messageForm textarea {
  height: 150px;
  resize: none;
}

.messageForm button {
  display: block;
  margin: auto;
  text-transform: uppercase;
  color: white;
  background-color: #43a047;
  border: none;
  cursor: pointer;
  transition: all 0.4s;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0),0 2px 10px 0 rgba(0,0,0,0);
}

.messageForm button:hover {
  transform: translateY(-3px);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
